body{
	background-color:  #232323;
	margin: 0;
	font-family: "Montserrat" , "Avenir";
}
.square{
	width: 30%;
	background:purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius:50%;
	transition: background .4s; 
	--webkit-transition: background 0.4s; /*for browswer friemdly*/
	--webkit-transition: background 0.4s; /*for browswer friemdly*/
}

#container{
	margin:20px auto;
	max-width: 600px;	
}
h1{
	text-align: center;
	line-height: 1.1;
	color: white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0; 

}
#colorDisplay{
	font-size: 150%;
}

#message{
	display: inline-block;
	width: 10%;
}
 
#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: blue;
	background: steelblue;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	color:steelblue;
	font-weight: 800;
	height: 100%
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	outline:none;
}
button:hover{
	color:white;
	background: steelblue;
}